:root {
    /* surface */
    --color-background-grey: #eef0f1;
    --color-white: #ffffff;
    --color-white-hover: #f5f6f7;
    /* static */
    --color-text-grey: #4d4e4c;
    --color-text-medium: #b8b8b7;
    --color-text-light: #e4e5e4;
    --color-group-blue: #002b45;
    --color-group-medium: #99aab5;
    --color-group-light: #e8f4fb;
    /* interaction */
    --color-link-blue: #1b5786;
    --color-link-hover: #5087ac;
    --color-action-blue: #68b2e3;
    --color-action-hover: #5087ac;
    --color-action-medium: #c3e0f4;
    --color-action-light: #eaf4fb;
    --color-primary-orange: #ed8b00;
    --color-primary-hover: #cc6600;
    --color-ui-enabled: #b8b8b7;
    --color-ui-disabled: #e4e5e4;
    /* status */
    --color-yes-green: #5aa63b;
    --color-caution-amber: #ffc108;
    --color-no-red: #be1e2d;
  }
