/* Workaround for max() and min() https://github.com/sass/sass/issues/2378 */
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

/* Should target iOS devides only */
@mixin notch {
  @supports (padding: max(0px)) {
    @content;
  }
}

/* Standalone/PWA */
@mixin pwa {
  @media all and (display-mode: standalone) {
    @content;
  }
}

@mixin preventOverscroll {
  -webkit-overflow-scrolling: touch;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}
