:root {
    /* Typography */
    --font-family-name: DFDS;
    --font-family: var(--font-family-name), Verdana, sans-serif;
    --font-size: 16px;
    --line-height: 1.625; /* 26px */
  
    --z-index-low: 1;
    --z-index-medium: 10;
    --z-index-high: 100;
    --z-index-between: 500;
    --z-index-max: 1000;
  }
